<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      /**body { font-family: 'Liberation Sans'; }*/ .container{ width: 100%;
      margin: 0 auto; } .header { position: fixed; top: 0px; left: 0px; right:
      0px; height: 100px; } .footer { position: fixed; bottom: 0px; left: 0px;
      right: 0px; height: 120px; } body { font-family: 'Arial' } table{ width:
      100%; } table,th, td { page-break-inside: auto; } .strong { font-weight:
      bold; } .bordered { border: 1px solid black; } .font-10 { font-size: 10px;
      } .font-12 { font-size: 12px; } .font-14 {font-size: 14px; } .font-16 {
      font-size: 16px; } .font-18 { font-size:18px; }.font-24 { font-size:24px;
      } .extra-spacing-tr { height: 20px; } .header { height: 60px; } tr
      {page-break-inside: avoid; page-break-after: auto; } thead {
      display:table-header-group; } tfoot { display: table-footer-group; }
      .to_title{ margin-top: 0px;}.to_title_div{ text-align: center; }
      .to_content{page-break-inside: auto; margin-top: 120px; margin-left: 40px;
      margin-right: 40px; } .to_number{margin-right: 100px;} .employee_table{
      }.recommending_approval{ display: flex; justify-content: space-between; }
      .underline{ border-bottom:1px solid black } #loadTable tr td, #loadTable
      tr th{ padding: 6px; } #loadTable{ page-break-after: always; } #f_table
      th,#f_table td,#loadTable th,#loadTable td{ border: 1px solid black; }
      #f_table,#loadTable, #mySched{ border-collapse: collapse; } 
      #loadTable{ border: 1px solid black; } #mySched  td{ border:
      1px solid black; padding: 5px;width:  11.11%;} 
    </style>
  </head>

  <body>
    {{#each this}}

      <div class='container'>
        <div class='header'>
          <img
            src='data:image/png;base64, {{header_img}}'
            width='100%'
            height="160px"
            alt=''
          />

        </div>
        <div class='footer'>

          <img
            style='position:fixed; bottom:0; left:0;right:0;'
            src='data:image/png;base64, {{footer_img}}'
            width='100%'
            alt=''
          />
        </div>

        
          <div style='width: 100%;'>
            <table
              style='margin:0 auto; width: 100%; page-break-inside:auto; table-layout:fixed'
            >
              {{! // Add this css to make main table fixed, child tables will still scroll }}
              <thead>
                <tr>
                  <td colspan='2'>
                    <div style='height: 130px;'></div>
                  </td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan='2'>
                    <div style='height: 80px;'></div>

                  </td>
                </tr>
              </tfoot>
        
              <tbody class=""> 
                 <tr>
                    <td colspan="2" style="padding-top:1rem; font-weight:bolder" align="center" class="font-18">
                      <div>TEACHER PROFILE AND LOADS</div>
                      <div>S.Y 2025-2026</div>
                    </td>
                 </tr>

                <tr>
                    <td colspan="2" style="padding:1rem">
                      <table id="loadTable" style="width:100%">
                        <tr>
                          <td   class="font-12" style="width:15%">Name</td>
                          <td  align='center' class="font-12" style="text-transform: uppercase;width:30%"><b>{{teacherName.name}}</b></td>
                          <td class="font-12"style="width:35%" >Teaching Experience</td>
                          <td  align='center' class="font-12" style="width:20%"></td>
                        </tr>
                        <tr>
                          <td   class="font-12" >Position</td>
                          <td  align='center' class="font-12"  style="text-transform: uppercase;"><b>Teacher I</b></td>
                          <td  class="font-12" >Present Grade Teaching Experience</td>
                          <td  align='center' class="font-12" ></td>
                        </tr>
                        <tr>
                          <td  class="font-12" >CS Eligibility</td>
                          <td  align='center' class="font-12" ></td>
                          <td   class="font-12" >Highest Educational Qualification</td>
                          <td  align='center' class="font-12" >{{teacherName.education}}</td>
                        </tr>
                        <tr>
                          <td  class="font-12" ></td>
                          <td  align='center' class="font-12" ></td>
                          <td   class="font-12" >Specialization</td>
                          <td  align='center' class="font-12" ></td>
                        </tr>
                      </table>
                    
                    </td>
                </tr>
               

                <tr>
                  <td colspan='2'>
               <table id="mySched" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                <tr>
                  <td align="center" class="font-12" style="width: 14%">Time</td>
                  <td align="center" class="font-12" style="width: 12%">Monday</td>
                  <td align="center" class="font-12" style="width: 12%">Tuesday</td>
                  <td align="center" class="font-12" style="width: 12%">Wednesday</td>
                  <td align="center" class="font-12" style="width: 12%">Thursday</td>
                  <td align="center" class="font-12" style="width: 12%">Friday</td>
                  <td align="center" class="font-12" style="width: 9%; word-wrap:break-word;">Total number of Teaching(hours)</td>
                  <td align="center" class="font-12" style="width: 8%; word-wrap:break-word;">Auxiliary Functions(hours)</td>
                  <td align="center" class="font-12" style="width: 9%; word-wrap:break-word;">Total Hours per Week</td>
                </tr>
                    {{#each mySched}}
                  {{#if (or
                    (eq Monday 'CONVOCATION PROGRAM')
                    (eq Monday 'RECESS - Handwashing Time')
                    (eq Monday 'LUNCH BREAK')
                    (eq Monday 'READING REMEDIATION')
                  )}}
                    <tr class="merged">
                      <td align="center" class="font-14">{{formatTimeRange time}}</td>
                      <td align="center" class="font-12" colspan="8">
                        {{{Monday}}}
                      </td>
                    </tr>
                  {{else}}
                    <tr>
                    <td align="center" class="font-14">{{formatTimeRange time}}</td>
                      <td align="center" class="font-12">  
                        {{#if Monday}}
                        {{{Monday}}}
                          {{else}}
                            Collaborative Expertise Session for Teachers
                          {{/if}}
                      </td>
                          <td align="center" class="font-12">  
                        {{#if Tuesday}}
                        {{{Tuesday}}}
                          {{else}}
                            Collaborative Expertise Session for Teachers
                          {{/if}}
                      </td>     <td align="center" class="font-12">  
                        {{#if Wednesday}}
                        {{{Wednesday}}}
                          {{else}}
                            Collaborative Expertise Session for Teachers
                          {{/if}}
                      </td>     <td align="center" class="font-12">  
                        {{#if Thursday}}
                        {{{Thursday}}}
                          {{else}}
                            Collaborative Expertise Session for Teachers
                          {{/if}}
                      </td>     <td align="center" class="font-12">  
                        {{#if Friday}}
                        {{{Friday}}}
                          {{else}}
                            Collaborative Expertise Session for Teachers
                          {{/if}}
                      </td>
                      <td align="center" class="font-12"></td>
                      <td align="center" class="font-12"></td>
                      <td align="center" class="font-12"></td>
                    </tr>
                  {{/if}}
                {{/each}}
                    </table>
                </tr>
                <tr class="font-12"> 
                    <td  colspan="2">
                      <div style="display: flex; justify-content: space-between; padding:1rem">
                      <div >
                        <div>
                           Prepared by:
                        </div>
                        <div style="margin-left: 3rem; margin-top:0.5rem; ">
                          <u style="text-transform:uppercase">{{teacherName.name}}</u><br> Adviser
                        </div>
                       
                      </div>
                      <div>
                        <div>
                          Noted by:
                        </div>
                        
                        <div style="margin-left: 3rem; margin-top:0.5rem">
                          <u>TOMOTEO T. CAPADNGAN</u><br>School Head
                          
                        </div>
                      </div>
                      
                      </div>
                    
                    </td>
                  
                </tr>
                <tr class="font-12"> 
                    <td  colspan="2">
                      <div style="display: flex; justify-content:center ;padding: 0.5rem">
                        <div >
                          <div>
                            Prepared by:
                          </div>
                          <div style="margin-left: 3rem; margin-top:0.5rem">
                         
                            <div>
                              <u>REYNALDO B. MELLORIDA, CESO V</u>
                            </div>
                           <div>
                            School Division Superintendent
                           </div>
                          </div>
                      </div>
                      </div>
                    
                    </td>
                  
                </tr>
             
              </tbody>
            </table>
          </div>
      </div>
    {{/each}}
  </body>

</html>